.s-triangle.e-left-top.e-orange {
    border-color: #ff5e00 transparent transparent transparent;
}
.s-triangle.e-left-top.e-small {
    border-width: 20px 20px 0 0;
}
.s-triangle.e-left-top {
    position: absolute;
    top: 0;
    left: 0;
    /* -webkit-transform-origin: 0 0; */
    /* transform-origin: 0 0; */
    /* -webkit-transition: -webkit-transform .35s cubic-bezier(0.215,.61,.355,1) 0s; */
    transition: transform .35s cubic-bezier(0.215,.61,.355,1) 0s;
}
.s-triangle {
    width: 0;
    height: 0;
    border-style: solid;
}